openapi: 3.1.0

info:
  title: Budget Buddy API
  description: REST API for Budget Buddy.
  version: "4.1.0"
  contact:
    name: Budget Buddy
    url: https://github.com/budget-buddy-org/budget-buddy-contracts

servers:
  - url: https://budgetbuddy.glebremniov.keenetic.link
    description: Production.
  - url: http://localhost:8080
    description: Local development.

tags:
  - name: categories
    description: Manage spending categories for the authenticated user.
  - name: transactions
    description: Record and query financial transactions for the authenticated user.
  - name: users
    description: Manage the authenticated user's identity, global preferences, and per-client settings.

security:
  - BearerAuth: [ ]

paths:
  /v1/categories:
    get:
      tags: [ categories ]
      summary: List categories
      description: Returns a paginated list of categories for the authenticated user.
      operationId: listCategories
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
      responses:
        "200":
          description: Category list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedCategories"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      tags: [ categories ]
      summary: Create category
      description: Creates a new category and returns the created resource with its assigned ID.
      operationId: createCategory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoryWrite"
      responses:
        "201":
          description: Category created
          headers:
            Location:
              description: URL of created resource
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/categories/summary:
    get:
      tags: [ categories ]
      summary: Per-category spending summary
      description: |
        Returns per-category spending and budget rollup for a single calendar month, in a single
        currency. Includes every category owned by the authenticated user (even with zero spending)
        so dashboards can render budgets at 0% used without a second request.

        Only `EXPENSE` transactions whose `currency` matches the requested currency contribute to
        `spent` and `transactionCount`. Transactions in other currencies are reflected in
        `excludedTransactionCount` so the UI can surface an informational note.
      operationId: getCategoriesSummary
      parameters:
        - $ref: "#/components/parameters/monthQuery"
        - $ref: "#/components/parameters/currencyQuery"
      responses:
        "200":
          description: Per-category spending summary for the requested month and currency
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategorySpendingSummary"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/categories/{categoryId}:
    parameters:
      - $ref: "#/components/parameters/categoryId"

    get:
      tags: [ categories ]
      summary: Get category
      description: Returns a single category by its UUID.
      operationId: getCategory
      responses:
        "200":
          description: Category
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      tags: [ categories ]
      summary: Replace category
      description: Fully replaces a category's data.
      operationId: replaceCategory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoryWrite"
      responses:
        "200":
          description: Replaced category
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    patch:
      tags: [ categories ]
      summary: Partially update category
      description: Partially updates a category; only provided fields are modified. Empty patch objects are invalid and return 400.
      operationId: updateCategory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoryUpdate"
      responses:
        "200":
          description: Updated category
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Category"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      tags: [ categories ]
      summary: Delete category
      description: Permanently deletes a category by its UUID.
      operationId: deleteCategory
      responses:
        "204":
          description: Category deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/transactions/summary:
    get:
      tags: [ transactions ]
      summary: Monthly income, expense, and balance summary
      description: |
        Returns monthly income, expense, and balance totals for a single calendar month, in a
        single currency, scoped to the authenticated user.

        Only transactions whose `currency` matches the requested currency contribute to `income`,
        `expense`, `balance`, `incomeCount`, and `expenseCount`. Transactions in other currencies
        are reflected in `excludedTransactionCount` so the UI can surface an informational note.
      operationId: getTransactionsSummary
      parameters:
        - $ref: "#/components/parameters/monthQuery"
        - $ref: "#/components/parameters/currencyQuery"
      responses:
        "200":
          description: Monthly summary for the requested month and currency
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonthlySummary"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/transactions/summary/trend:
    get:
      tags: [ transactions ]
      summary: Monthly summary trend across a month range
      description: |
        Returns one `MonthlySummary` per calendar month across an inclusive range, in a single
        currency, scoped to the authenticated user. Intended for sparkline / trend visualisations
        that need per-month buckets in a single request.

        Months in the range with no matching transactions are returned with zeroed totals, so
        the response array length always equals the number of months between `from` and `to`
        inclusive. Buckets are ordered oldest first.

        Only transactions whose `currency` matches the requested currency contribute to `income`,
        `expense`, `balance`, `incomeCount`, and `expenseCount`. Transactions in other currencies
        are reflected in `excludedTransactionCount`.

        The maximum allowed range is 24 months — wider ranges are rejected with 400 to bound
        query cost.
      operationId: getTransactionsSummaryTrend
      parameters:
        - name: from
          in: query
          required: true
          description: First calendar month in the range (inclusive).
          schema:
            $ref: "#/components/schemas/Month"
        - name: to
          in: query
          required: true
          description: Last calendar month in the range (inclusive). Must be greater than or equal to `from`, and no more than 24 months after `from`.
          schema:
            $ref: "#/components/schemas/Month"
        - $ref: "#/components/parameters/currencyQuery"
      responses:
        "200":
          description: One `MonthlySummary` per calendar month in the requested range, oldest first.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MonthlySummary"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/transactions:
    get:
      tags: [ transactions ]
      summary: List transactions
      description: Returns a paginated, filterable list of transactions for the authenticated user.
      operationId: listTransactions
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/size"
        - name: query
          in: query
          description: Case-insensitive partial match against transaction description and category name
          schema:
            type: string
            maxLength: 255
        - name: amountMin
          in: query
          description: Filter to transactions with amount greater than or equal to this value, in minor units (e.g. 1299 = €12.99)
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: amountMax
          in: query
          description: Filter to transactions with amount less than or equal to this value, in minor units. Set equal to amountMin for an exact match
          schema:
            type: integer
            format: int64
            minimum: 1
        - name: categoryId
          in: query
          description: Filter to transactions assigned to this category.
          schema:
            $ref: "#/components/schemas/Uuid"
        - name: start
          in: query
          description: Inclusive start date
          schema:
            type: string
            format: date
        - name: end
          in: query
          description: Inclusive end date
          schema:
            type: string
            format: date
        - name: type
          in: query
          description: Filter by transaction type
          schema:
            $ref: "#/components/schemas/TransactionType"
        - name: sort
          in: query
          description: Sort order (by date)
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
      responses:
        "200":
          description: Paginated transactions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedTransactions"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      tags: [ transactions ]
      summary: Create transaction
      description: Records a new transaction and returns the created resource.
      operationId: createTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionWrite"
      responses:
        "201":
          description: Transaction created
          headers:
            Location:
              description: URL of created resource
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/transactions/{transactionId}:
    parameters:
      - $ref: "#/components/parameters/transactionId"

    get:
      tags: [ transactions ]
      summary: Get transaction
      description: Returns a single transaction by its UUID.
      operationId: getTransaction
      responses:
        "200":
          description: Transaction
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      tags: [ transactions ]
      summary: Replace transaction
      description: Fully replaces a transaction's data.
      operationId: replaceTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionWrite"
      responses:
        "200":
          description: Replaced transaction
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    patch:
      tags: [ transactions ]
      summary: Partially update transaction
      description: Partially updates a transaction; only provided fields are modified. Empty patch objects are invalid and return 400.
      operationId: updateTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionUpdate"
      responses:
        "200":
          description: Updated transaction
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      tags: [ transactions ]
      summary: Delete transaction
      description: Permanently deletes a transaction by its UUID.
      operationId: deleteTransaction
      responses:
        "204":
          description: Transaction deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/users/me:
    get:
      tags: [ users ]
      summary: Get current user
      description: |
        Returns the authenticated user's local identity record together with their global preferences,
        in a single response intended as a client bootstrap call.

        If the user has not yet customised their preferences, server defaults are returned (preferences
        rows are created lazily on first write).
      operationId: getCurrentUser
      responses:
        "200":
          description: Current user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Me"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      tags: [ users ]
      summary: Delete current user account
      description: |
        Permanently deletes the authenticated user's account. The API first asks the configured
        identity provider to delete the user; on success it then removes the local user row, which
        cascade-deletes all owned data (categories, transactions, preferences, per-client settings).

        If the identity provider call fails, no local data is deleted and the request errors so the
        client can prompt the user to retry. After a successful delete the bearer token may still be
        valid until it expires; clients should clear local credentials and end the session.
      operationId: deleteCurrentUser
      responses:
        "204":
          description: Account deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/users/me/data:
    delete:
      tags: [ users ]
      summary: Clear current user's data
      description: |
        Permanently deletes every category and transaction owned by the authenticated user, while
        leaving the account itself intact. Preferences and per-client settings are preserved; the
        identity provider is not contacted and the bearer token remains valid.

        Intended for "start over" flows where the user wants to wipe their financial history without
        losing their sign-in or app configuration. The operation is idempotent — a second call on an
        already-empty account returns 204.
      operationId: clearCurrentUserData
      responses:
        "204":
          description: Data cleared
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/users/me/preferences:
    get:
      tags: [ users ]
      summary: Get current user's preferences
      description: |
        Returns the authenticated user's global preferences (language, currency, timezone). If no
        preferences row exists yet, server defaults are returned.
      operationId: getCurrentUserPreferences
      responses:
        "200":
          description: User preferences
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPreferences"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      tags: [ users ]
      summary: Replace current user's preferences
      description: |
        Fully replaces the authenticated user's global preferences. All fields in the body are
        applied; the preferences row is created on first call.
      operationId: replaceCurrentUserPreferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPreferencesWrite"
      responses:
        "200":
          description: Replaced preferences
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPreferences"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

    patch:
      tags: [ users ]
      summary: Partially update current user's preferences
      description: |
        Partially updates the authenticated user's global preferences; only fields included in the
        request body are modified. Empty patch objects are invalid and return 400.
      operationId: updateCurrentUserPreferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserPreferencesUpdate"
      responses:
        "200":
          description: Updated preferences
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserPreferences"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/users/me/settings:
    get:
      tags: [ users ]
      summary: List current user's per-client settings
      description: |
        Returns every per-client settings row owned by the authenticated user, oldest first. Intended
        for management UIs where the user reviews which clients have stored customisations. The list
        is small in practice (one row per active client) so no pagination is provided.
      operationId: listCurrentUserClientSettings
      responses:
        "200":
          description: All per-client settings rows for the current user
          content:
            application/json:
              schema:
                type: array
                description: One entry per client that has stored settings; empty array if none.
                items:
                  $ref: "#/components/schemas/ClientSettings"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /v1/users/me/settings/{clientId}:
    parameters:
      - $ref: "#/components/parameters/clientId"

    get:
      tags: [ users ]
      summary: Get per-client settings
      description: |
        Returns the authenticated user's stored settings for a single client (e.g. `web`,
        `mobile-ios`, `telegram-bot`). Returns 404 if no settings have been stored for that client.
      operationId: getCurrentUserClientSettings
      responses:
        "200":
          description: Client settings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientSettings"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      tags: [ users ]
      summary: Upsert per-client settings
      description: |
        Stores (or replaces) the authenticated user's settings for a single client. The body is an
        opaque JSON object owned by the client app — the server does not validate its shape.
      operationId: replaceCurrentUserClientSettings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClientSettingsWrite"
      responses:
        "200":
          description: Stored client settings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientSettings"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      tags: [ users ]
      summary: Delete per-client settings
      description: Removes the authenticated user's stored settings for a single client.
      operationId: deleteCurrentUserClientSettings
      responses:
        "204":
          description: Client settings deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        OIDC-issued JWT access token, sent as `Authorization: Bearer <jwt>`.

  parameters:
    categoryId:
      name: categoryId
      in: path
      required: true
      description: Category UUID.
      schema:
        $ref: "#/components/schemas/Uuid"

    transactionId:
      name: transactionId
      in: path
      required: true
      description: Transaction UUID.
      schema:
        $ref: "#/components/schemas/Uuid"

    clientId:
      name: clientId
      in: path
      required: true
      description: Client this settings row belongs to. See the `ClientId` schema for the allowed format.
      schema:
        $ref: "#/components/schemas/ClientId"

    monthQuery:
      name: month
      in: query
      required: true
      description: Calendar month to summarise, formatted YYYY-MM. Interpreted in UTC.
      schema:
        $ref: "#/components/schemas/Month"

    currencyQuery:
      name: currency
      in: query
      required: true
      description: ISO 4217 three-letter currency code. Only transactions in this currency contribute to the response totals.
      schema:
        $ref: "#/components/schemas/Currency"

    page:
      name: page
      in: query
      description: Zero-based page number.
      schema:
        type: integer
        minimum: 0
        default: 0

    size:
      name: size
      in: query
      description: Maximum number of items to return.
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 20

  responses:
    BadRequest:
      description: |
        Bad request. When the failure is per-field validation (e.g. unknown field, value out of
        bounds), the response `Problem` has `errors[]` populated with one `FieldError` per offending
        field. For other 400s (semantic validation, cross-field rules), `errors[]` is omitted and
        the human-readable summary is in `detail`.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

    Unauthorized:
      description: Authentication failed
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

    NotFound:
      description: Resource not found
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

    InternalServerError:
      description: Unexpected server error
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"

  schemas:
    Category:
      type: object
      required: [ id, name, monthlyBudget ]
      properties:
        id:
          description: Unique identifier for the category.
          allOf:
            - $ref: "#/components/schemas/Uuid"
        name:
          type: string
          description: Human-readable name of the category (1–255 characters).
          minLength: 1
          maxLength: 255
          example: Groceries
        monthlyBudget:
          type: [ integer, "null" ]
          format: int64
          minimum: 0
          description: Monthly spending budget for this category, in minor units (e.g. 50000 = €500.00). Null when no budget is set.
          example: 50000

    CategoryWrite:
      type: object
      additionalProperties: false
      required: [ name, monthlyBudget ]
      properties:
        name:
          type: string
          description: Human-readable name for the category (1–255 characters).
          minLength: 1
          maxLength: 255
          example: Restaurants
        monthlyBudget:
          type: [ integer, "null" ]
          format: int64
          minimum: 0
          description: Monthly spending budget for this category, in minor units. Pass null to clear the budget.
          example: 50000

    CategoryUpdate:
      type: object
      additionalProperties: false
      description: Patch request — only provided fields are updated. At least one field must be provided.
      minProperties: 1
      properties:
        name:
          type: string
          description: New human-readable name for the category (1–255 characters).
          minLength: 1
          maxLength: 255
          example: Dining
        monthlyBudget:
          type: [ integer, "null" ]
          format: int64
          minimum: 0
          description: New monthly budget in minor units. Pass null to clear the budget.
          example: 75000

    Uuid:
      type: string
      format: uuid
      description: RFC 4122 UUID, lowercase hex with hyphens.
      example: 550e8400-e29b-41d4-a716-446655440000

    Month:
      type: string
      description: Calendar month formatted as YYYY-MM. Interpreted in UTC.
      pattern: "^\\d{4}-(0[1-9]|1[0-2])$"
      example: "2026-05"

    Currency:
      type: string
      description: ISO 4217 three-letter currency code (uppercase letters only).
      pattern: "^[A-Z]{3}$"
      example: EUR

    ClientId:
      type: string
      description: |
        Client identifier used to scope per-client settings. Conventional values include `web`,
        `mobile-ios`, `mobile-android`, `telegram-bot`. Lowercase letters, digits, and hyphens only;
        up to 32 characters.
      pattern: "^[a-z0-9-]{1,32}$"
      example: web

    TransactionType:
      type: string
      description: Whether a transaction is an outgoing expense or incoming income.
      enum:
        - EXPENSE
        - INCOME

    Transaction:
      type: object
      required: [ id, categoryId, amount, type, currency, date, description ]
      properties:
        id:
          description: Unique identifier for the transaction.
          allOf:
            - $ref: "#/components/schemas/Uuid"
        categoryId:
          description: UUID of the category this transaction belongs to.
          allOf:
            - $ref: "#/components/schemas/Uuid"
        amount:
          type: integer
          format: int64
          description: Amount in minor units (e.g. 1299 = €12.99). Always at least 1.
          minimum: 1
          example: 1299
        type:
          description: Whether this transaction is an outgoing expense or incoming income.
          allOf:
            - $ref: "#/components/schemas/TransactionType"
        currency:
          description: ISO 4217 three-letter currency code.
          allOf:
            - $ref: "#/components/schemas/Currency"
        date:
          type: string
          format: date
          description: Date on which the transaction occurred (YYYY-MM-DD).
          example: 2026-03-08
        description:
          type: [ string, "null" ]
          description: Free-text note for the transaction (1–255 characters). Null when no note is set.
          minLength: 1
          maxLength: 255
          example: Coffee

    TransactionWrite:
      type: object
      additionalProperties: false
      required: [ categoryId, amount, type, currency, date, description ]
      properties:
        categoryId:
          description: UUID of the category this transaction belongs to.
          allOf:
            - $ref: "#/components/schemas/Uuid"
        amount:
          type: integer
          format: int64
          description: Amount in minor units (e.g. 1299 = €12.99). Must be at least 1.
          minimum: 1
          example: 1299
        type:
          description: Whether this transaction is an outgoing expense or incoming income.
          allOf:
            - $ref: "#/components/schemas/TransactionType"
        currency:
          description: ISO 4217 three-letter currency code.
          allOf:
            - $ref: "#/components/schemas/Currency"
        date:
          type: string
          format: date
          description: Date on which the transaction occurred (YYYY-MM-DD).
        description:
          type: [ string, "null" ]
          description: Free-text note for the transaction (1–255 characters). Pass null to clear the note.
          minLength: 1
          maxLength: 255

    TransactionUpdate:
      type: object
      additionalProperties: false
      description: Patch request — only provided fields are updated. At least one field must be provided.
      minProperties: 1
      properties:
        categoryId:
          description: UUID of the category to reassign this transaction to.
          allOf:
            - $ref: "#/components/schemas/Uuid"
        amount:
          type: integer
          format: int64
          description: New amount in minor units. Must be at least 1.
          minimum: 1
        type:
          description: New transaction type.
          allOf:
            - $ref: "#/components/schemas/TransactionType"
        currency:
          description: New ISO 4217 three-letter currency code.
          allOf:
            - $ref: "#/components/schemas/Currency"
        date:
          type: string
          format: date
          description: New transaction date (YYYY-MM-DD).
        description:
          type: [ string, "null" ]
          description: Updated free-text note (1–255 characters). Pass null to clear the note.
          minLength: 1
          maxLength: 255

    PaginationMeta:
      type: object
      required: [ page, size, total ]
      properties:
        page:
          type: integer
          description: Zero-based page number returned in this response.
        size:
          type: integer
          description: The page size used for this response.
        total:
          type: integer
          format: int64
          description: Total number of items matching the request across all pages.

    PaginatedCategories:
      type: object
      required: [ items, meta ]
      properties:
        items:
          type: array
          description: The categories on the current page.
          items:
            $ref: "#/components/schemas/Category"
        meta:
          description: Pagination metadata for the current response.
          allOf:
            - $ref: "#/components/schemas/PaginationMeta"

    CategorySpendingRow:
      type: object
      required: [ categoryId, categoryName, monthlyBudget, spent, transactionCount, excludedTransactionCount ]
      properties:
        categoryId:
          description: UUID of the category this row summarises.
          allOf:
            - $ref: "#/components/schemas/Uuid"
        categoryName:
          type: string
          description: Human-readable name of the category at the time of the response (1–255 characters).
          minLength: 1
          maxLength: 255
        monthlyBudget:
          type: [ integer, "null" ]
          format: int64
          minimum: 0
          description: Snapshot of the category's current monthly budget, in minor units. Null when no budget is set.
          example: 50000
        spent:
          type: integer
          format: int64
          minimum: 0
          description: Sum of EXPENSE transactions in the requested currency for this month, in minor units.
          example: 32450
        transactionCount:
          type: integer
          minimum: 0
          description: Number of EXPENSE transactions contributing to `spent`.
          example: 12
        excludedTransactionCount:
          type: integer
          minimum: 0
          description: Number of EXPENSE transactions in this month for this category whose currency did not match the requested currency and were therefore not summed.
          example: 0

    CategorySpendingSummary:
      type: object
      required: [ month, currency, items ]
      properties:
        month:
          description: Calendar month echoed back from the request.
          allOf:
            - $ref: "#/components/schemas/Month"
        currency:
          description: ISO 4217 currency code echoed back from the request.
          allOf:
            - $ref: "#/components/schemas/Currency"
        items:
          type: array
          description: One row per category owned by the authenticated user, including categories with zero spending.
          items:
            $ref: "#/components/schemas/CategorySpendingRow"

    MonthlySummary:
      type: object
      required: [ month, currency, income, expense, balance, incomeCount, expenseCount, excludedTransactionCount ]
      properties:
        month:
          description: Calendar month this summary covers.
          allOf:
            - $ref: "#/components/schemas/Month"
        currency:
          description: ISO 4217 currency code echoed back from the request.
          allOf:
            - $ref: "#/components/schemas/Currency"
        income:
          type: integer
          format: int64
          minimum: 0
          description: Sum of INCOME transactions in the requested currency for this month, in minor units.
          example: 250000
        expense:
          type: integer
          format: int64
          minimum: 0
          description: Sum of EXPENSE transactions in the requested currency for this month, in minor units.
          example: 132450
        balance:
          type: integer
          format: int64
          description: income minus expense, in minor units. May be negative.
          example: 117550
        incomeCount:
          type: integer
          minimum: 0
          description: Number of INCOME transactions contributing to `income`.
          example: 3
        expenseCount:
          type: integer
          minimum: 0
          description: Number of EXPENSE transactions contributing to `expense`.
          example: 42
        excludedTransactionCount:
          type: integer
          minimum: 0
          description: Number of transactions (INCOME or EXPENSE) in this month whose currency did not match the requested currency and were therefore not summed.
          example: 0

    PaginatedTransactions:
      type: object
      required: [ items, meta ]
      properties:
        items:
          type: array
          description: The transactions on the current page.
          items:
            $ref: "#/components/schemas/Transaction"
        meta:
          description: Pagination metadata for the current response.
          allOf:
            - $ref: "#/components/schemas/PaginationMeta"

    Problem:
      type: object
      description: RFC 9457 Problem Details
      required: [ title, status ]
      properties:
        type:
          type: string
          format: uri
          description: URI that identifies the problem type. Defaults to "about:blank" when not set.
          default: "about:blank"
        title:
          type: string
          description: Short, human-readable summary of the problem type.
        status:
          type: integer
          description: HTTP status code for this occurrence of the problem.
        detail:
          type: string
          description: Human-readable explanation specific to this occurrence of the problem.
        instance:
          type: string
          format: uri
          description: URI reference identifying the specific occurrence of the problem.
        errors:
          type: array
          description: Field-level validation errors. Present on 400 responses caused by per-field validation; omitted otherwise.
          items:
            $ref: "#/components/schemas/FieldError"

    FieldError:
      type: object
      additionalProperties: false
      required: [ field, message ]
      properties:
        field:
          type: string
          description: Name of the field that caused the error.
        message:
          type: string
          description: Human-readable error message for the field.

    Language:
      type: string
      description: |
        BCP 47 language tag (e.g. `en`, `en-US`, `de`, `pt-BR`). Two- or three-letter primary
        subtag, optionally followed by a hyphen and a two-letter region subtag.
      pattern: "^[a-z]{2,3}(-[A-Z]{2})?$"
      minLength: 2
      maxLength: 7
      example: en-US

    Timezone:
      type: string
      description: |
        IANA Time Zone Database identifier (e.g. `UTC`, `Europe/Berlin`, `America/New_York`).
        Validated server-side against the JVM's known zones.
      minLength: 1
      maxLength: 64
      example: Europe/Berlin

    UserPreferences:
      type: object
      description: |
        Global, cross-client preferences for the authenticated user. Used by server-side logic
        (formatting, future notifications) and by clients that want a consistent locale across
        sessions.
      required: [ language, currency, timezone ]
      properties:
        language:
          description: Preferred language as a BCP 47 tag.
          allOf:
            - $ref: "#/components/schemas/Language"
        currency:
          description: Preferred currency as an ISO 4217 three-letter code.
          allOf:
            - $ref: "#/components/schemas/Currency"
        timezone:
          description: Preferred IANA timezone.
          allOf:
            - $ref: "#/components/schemas/Timezone"

    UserPreferencesWrite:
      type: object
      additionalProperties: false
      description: Full replacement of the user's global preferences.
      required: [ language, currency, timezone ]
      properties:
        language:
          description: Preferred language as a BCP 47 tag.
          allOf:
            - $ref: "#/components/schemas/Language"
        currency:
          description: Preferred currency as an ISO 4217 three-letter code.
          allOf:
            - $ref: "#/components/schemas/Currency"
        timezone:
          description: Preferred IANA timezone.
          allOf:
            - $ref: "#/components/schemas/Timezone"

    UserPreferencesUpdate:
      type: object
      additionalProperties: false
      description: Patch request — only provided fields are updated. At least one field must be provided.
      minProperties: 1
      properties:
        language:
          description: New preferred language as a BCP 47 tag.
          allOf:
            - $ref: "#/components/schemas/Language"
        currency:
          description: New preferred currency as an ISO 4217 three-letter code.
          allOf:
            - $ref: "#/components/schemas/Currency"
        timezone:
          description: New preferred IANA timezone.
          allOf:
            - $ref: "#/components/schemas/Timezone"

    Me:
      type: object
      description: |
        Authenticated user's local identity record together with their global preferences. Intended
        as a single bootstrap call for client apps.
      required: [ id, preferences ]
      properties:
        id:
          description: Stable identifier for the authenticated user. Used as the owner of all user-scoped resources and unchanged across sessions.
          allOf:
            - $ref: "#/components/schemas/Uuid"
        preferences:
          description: The user's current global preferences (server defaults if none have been stored).
          allOf:
            - $ref: "#/components/schemas/UserPreferences"

    ClientSettingsPayload:
      type: object
      description: |
        Free-form JSON object owned by the client app. The server stores and returns it as-is and
        does not validate its shape — clients own the schema.
      additionalProperties: true
      example:
        theme: dark
        fontSize: 14

    ClientSettings:
      type: object
      description: |
        Per-client UI/UX settings (themes, font sizes, layout preferences, etc.) for a single client
        of the authenticated user.
      required: [ clientId, settings ]
      properties:
        clientId:
          description: The client this settings row belongs to (matches the path parameter).
          allOf:
            - $ref: "#/components/schemas/ClientId"
        settings:
          description: The stored settings payload.
          allOf:
            - $ref: "#/components/schemas/ClientSettingsPayload"

    ClientSettingsWrite:
      type: object
      additionalProperties: false
      description: Upsert body — fully replaces any existing settings for the client.
      required: [ settings ]
      properties:
        settings:
          description: The settings payload to store.
          allOf:
            - $ref: "#/components/schemas/ClientSettingsPayload"
